<!--suppress ALL -->
<div class="buttons">
  <button (click)="expand()" class="button-secondary">Expand</button>
  <button (click)="collapse()" class="button-warning">Collapse</button>
</div>

<svg class="graph" width="600" height="600">
  <g class="zoom">
    <defs>
      <marker
        id="arrow"
        viewBox="1 0 20 20"
        refX="8"
        refY="3.5"
        markerWidth="10"
        markerHeight="10"
        orient="auto"
      >
        <polygon points="0 0, 10 3.5, 0 7" />
      </marker>
    </defs>

    <ng-container [ngTemplateOutlet]="groupTemplate"
                  [ngTemplateOutletContext]="{renderInfo: renderInfo, type: 'root'}"></ng-container>
  </g>
</svg>

<ng-template #groupTemplate let-renderInfo="renderInfo" let-type="type">
  <svg:g class="{{type}}" [attr.transform]="type === 'group' ? subGraphTransform(renderInfo) : null">
    <svg:g class="core" [attr.transform]="coreTransform(renderInfo)">
      <svg:g class="edges">
        <ng-container *ngFor="let edge of renderInfo.edges">
          <svg:g class="edge" graph-edge [edge]="edge"></svg:g>
        </ng-container>
      </svg:g>
      <svg:g class="nodes">
        <ng-container *ngFor="let node of renderInfo.nodes">
          <svg:g class="node" [class.bridge]="node.type === 2" *ngIf="node.type !== 2">
            <svg:g graph-node [node]="node"></svg:g>

            <ng-container *ngIf="node.expanded" [ngTemplateOutlet]="groupTemplate"
                          [ngTemplateOutletContext]="{renderInfo: node, type: 'group'}">
            </ng-container>
          </svg:g>
        </ng-container>
      </svg:g>
    </svg:g>
  </svg:g>
</ng-template>
